.factory-container {
  background: #f0f0f0;
  padding: 1rem 0;
  margin: 1rem 0;
}

.recipe-container {
  background: #eaeaea;
  padding: 0.45rem 0;
  margin: 1rem 0;
}

.adjust-button {
  margin-top: 0.35rem;
}

.adjust-factory-title {
  padding: 0.6rem 2rem;
}

.adjust-recipe-title {
  padding: 0.6rem 2rem;
}

.adjust-recipe-button {
  margin-top: 0.65rem;
  margin-left: 0.75rem;
}
